<section id="main-screen">
<a href="#/start">Main Screen</a>
Difficulty: {{difficulty}}
<br><br>
Top Score: {{topScore}} 
<br><br>
Current Score: <span count-to="{{newScore}}" value="{{currentScore}}" duration="2"></span>
<br><br>
Timer: <span id="timer" count-to="{{newTimer}}" value="{{currentTimer}}" duration="10"></span>
<br>
<a ng-click="makeChoice(0)">{{currentSongs[0].artists[0].name}} - 
{{currentSongs[0].name}}</a>
<br>
<a ng-click="makeChoice(1)">{{currentSongs[1].artists[0].name}} - 
{{currentSongs[1].name}}</a>
<br>
<a ng-click="makeChoice(2)">{{currentSongs[2].artists[0].name}} - 
{{currentSongs[2].name}}</a>

<button ng-click="begin()">Begin</button>

</section>