<section id="start-screen">
<img class="logo" ng-src="images/logo.png">

<section class="difficulty-selectors center">
	<div class="difficulty-btn">
		<img src="images/groupie.jpg">
		<p>GROUPIE</p>
	</div>

	<div class="difficulty-btn">
		<img src="images/roadie.jpg">
		<p>ROADIE</p>
	</div>

	<div class="difficulty-btn">
		<img src="images/rockstar.jpg">
		<p>ROCKSTAR</p>
	</div>


</section>
<a ng-click="$root.difficulty = 'easy'">Easy</a>
<a ng-click="$root.difficulty = 'medium'">Medium</a>
<a ng-click="$root.difficulty = 'hard'">Hard</a>
<br>

<a href="#/main">Start</a>
</section>