@font-face {
    font-family: 'lcdscreen';
    src: url('fonts/lcd/ds-digi-webfont.eot');
    src: url('fonts/lcd/ds-digi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lcd/ds-digi-webfont.woff2') format('woff2'),
         url('fonts/lcd/ds-digi-webfont.woff') format('woff'),
         url('fonts/lcd/ds-digi-webfont.ttf') format('truetype'),
         url('fonts/lcd/ds-digi-webfont.svg#ds-digitalnormal') format('svg');
    font-weight: normal;
    font-style: normal;
}


#main-screen{
	width:100%;
	min-height:100vh;
	background-image:url(../images/wood.jpg);
	padding-top:100px;
}

#start-screen{

	width:100%;
}

#finish-screen{
	width:100%;
	text-align:center;
	font-size:40px;
	font-weight:bold;
	color:white;
	text-shadow:0 0 5px black;
}

#finish-screen a{
	color:white;
	text-decoration:none;
	display:inline-block;
	padding:10px;
	border:4px solid white;
	border-radius:4px;
}

*{
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

body{
	font-family:'lato', 'Helvetica', 'Verdana', 'Arial', sans-serif;
	padding:0;
	margin:0;
	background-image:url(../images/background.jpg);
	background-position:-10px top;
	background-size: 100% 100vh;
}

.logo{
	display: block;
	position:relative;
	/*top:-420px;*/
	top:-70px;
    width: 340px;
    height: auto;
    transition: top 0.6s cubic-bezier(0.25, 0.1, 0.45, 1.46);
    left: calc(50% - 170px);
}

.logo:hover{
	top:-60px;
}

.left{
	float:left;
}

.right{
	float:right;
}

.center{
	margin:0 auto;
}

.difficulty-selectors{
	margin-top:-50px;
	width:80%;
	min-width:600px;
	display:flex;
	justify-content: space-between;
	margin-bottom:20px;
}

.difficulty-btn{
	border-radius:10px;
	display:block;
	overflow:hidden;
	width:26%;
	text-align:center;
	transition:transform 0.2s ease-out, box-shadow 0.2s ease-out;
	box-shadow:0px 0px 15px 0px rgba(0,0,0,0.5);
	background-color:lightgray;
	cursor:pointer;
	text-decoration:none;
	color:black;
	padding:7px;
	background-image: url(../images/paper.png) ;
	background-repeat:repeat;
	box-shadow: 0px 55px 49px -38px rgba(0, 0, 0, 0.6);
}

.difficulty-btn:hover{
	transform: translateY(-15px);
    box-shadow: 0px 55px 49px -25px rgba(0, 0, 0, 0.5);
}

.difficulty-btn img{
	width:100%;
	border-radius:5px 5px 0 0;
}

.difficulty-btn p{
	padding:0 10px;
	font-size:13px;
	font-weight:600;
	color:#333;
}

.lcd{
	font-family: 'lcdscreen';
	color:orange;
	text-shadow:red 0px 0px 4px;
	font-size:23px;
}


#loading{
	text-align:center;
	font-size:40px;
	color:white;
	clear:both;
}

#scoreboard{
	background: url(../images/scoreboard-border.png) top right no-repeat,
				url(../images/steel.jpg) repeat;
	background:;
	padding:10px; 
	min-width:200px;
	padding-right:30px;
	background-size: auto 100%;
	border-radius:0 18px 18px 0;
}

.screen{
	display:block;
	padding:2px;
	border:inset 3px gray;
	border-radius:2px;
	background:black;
}

#scoreboard .screen{
	margin-bottom:4px;
}

#scoreboard img {
    width: 120px;
    opacity: 0.4;
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    filter: grayscale(1);
    display: block;
}


.view-slide-in.ng-enter {
  transition: all 1s cubic-bezier(0.25, 0.1, 0.45, 1.46);
  -webkit-transition:all 1s cubic-bezier(0.25, 0.1, 0.45, 1.46);
  -moz-transition: all 1s cubic-bezier(0.25, 0.1, 0.45, 1.46);
  -o-transition: all 1s cubic-bezier(0.25, 0.1, 0.45, 1.46);
  
  opacity:0.5;
  position:relative;
  opacity:0;
  top:-500px;
  left:0px;
}

.view-slide-in.ng-enter.ng-enter-active {
  top:0;
  left:0;
  opacity: 1;
}

.view-slide-in.ng-leave{
  opacity:1;
  transition: opacity 0.2s ease-out;
}

.view-slide-in.ng-leave.ng-leave-active{
  opacity:0;
}


/*.fade-in.ng-enter {
  opacity: 0;
  transition:opacity 0.3s ease-out;
}
.fade-in.ng-enter.ng-enter-active {
  opacity: 1;
}

.fade-in.ng-enter-stagger{
	transition-delay:0.5s;
}*/



#scoreboard{
	max-width:250px;
	float: left;
}



/* Turntable image assets taken from wheelsofsteel.net */

.turntable{
	float:left;
}

.turntable {
	position: relative;
    width: 400px;
    margin-top: -18px;
    padding-top: 18px;
    border: 1px solid transparent;
    background: transparent url(../images/table_shadow.png) no-repeat 0px 0px;
    background-size: 100% 100%;
}

.turntable .body {
    position: relative;
    /*margin-top: 26px;
    margin-left: 31px;*/
    background: #30313b url(../images/table_body.png) no-repeat 0px 3px;
    /* background-color: rgb(216, 215, 209); */
    width: 400px;
    height: 300px;
    overflow: hidden;
    border-radius: 3px;
    background-size: cover;
}

.turntable .platter{
	position: absolute;
    top: 6px;
    left: 20px;
}

.turntable .platter .ring {
    width: 291px;
    height: 291px;
    background: transparent url(../images/table_platter.png) no-repeat 0px 0px;
    background-size:cover;
}

.turntable .tonearm {
    position: absolute;
    left: 300px;
    top: -6px;
    width: 76px;
    height: 144px;
    z-index: 2;
    transform:rotateZ(5deg);
    transition:transform 1s ease-out;

}

.turntable .tonearm img {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 82px;
    height: 283px;
    z-index:0;
}

@keyframes needleAnimation{
	0%{z-index:0;transform:rotateZ(5deg);}
	1%{z-index:12;transform:rotateZ(5deg);}
	100%{z-index:12;transform:rotateZ(30deg);}
}

.turntable .tonearm.off{
	animation: needleAnimation 1s ease-out;
	animation-fill-mode:backwards;
	animation-direction:reverse;
/*	transform:rotateZ(5deg);
	z-index:0;*/
}

.turntable .tonearm.on{
	animation: needleAnimation 1s ease-out;
	animation-fill-mode:forwards;
/*	transform:rotateZ(40deg);
	z-index:2;*/
}


a:visited{
	color:initial;
}

.fa.back{
	float:left;
	color:gray;
}

#play-area{
	width:800px;
	margin:0 auto;
	margin-bottom: 50px;
}

#record-area{
	position:absolute;
	right:-100px;
	bottom:300px;
}



/*Record covers*/

.cover-container { 
	width: 300px;
    height: 300px;
    position: absolute;
    perspective: 800px;
    opacity:0;
	/*top:-350px;*/
	transform:translate(0, -400px);
	transition:transform 0.5s ease-out, opacity 0.3s ease-out;
  	/*left:0;*/
  	z-index:11;
}

.cover-container.enter{
	opacity:1;
	/*top:0;
	left:0;*/
	transform: translate(0,0);
}

.cover-container.leave{
	opacity:0;
	transform: rotateZ(20deg) translate(300px, 0);
}

.cover {
z-index:11;
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.cover figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius:2px;
}

.cover .front {
  background: url(../images/sleeve.jpg);
  background-size:100% 100%;
}
.cover .back {
  background-color: gray;
  background-size: cover;
  transform: rotateY( 180deg );
}

.cover.flipped {
  transform: rotateY( 180deg );
}

.cover-container .record{
	width:290px;
	height:290px;
	background: url(../images/record.png);
	position:absolute;
	background-size:cover;
	z-index:3;
}

.cover-container .record.enter{
	animation: recordEnter 2s 1 ease-out;
	animation-fill-mode: forwards;
}

.cover-container .record.leave{
	animation: recordLeave 0.5s 1 ease-out;
	animation-fill-mode: forwards;
}




@keyframes recordEnter {
    0%   {transform:translate(0,0);}
    50%  {transform:translate(0,-300px);
    		z-index:0;}
    55%  {transform:translate(0,-300px) scale(1.1);
    		z-index:15;}
    95%  {transform:translate(-480px,7px) scale(1.1);
    		z-index:15;}
    100% {transform:translate(-480px,7px) scale(1);
    		z-index:0;}
}

@keyframes recordLeave {
    0%   {transform:translate(-480px,7px) scale(1);
    		z-index:0; opacity:1;}
    100%  {transform:translate(-680px,7px);
    		z-index:0; opacity:0;}
}



#choices{
	position:relative;
	width:100%;
	max-width:800px;
	margin:0 auto;
	display:flex;
	justify-content: space-between;
	top:40px;
	line-height:0.8em;
}

#choices a{
	display: block;
	width:25%;
	border:3px solid white;
	border-radius:5px;
	color:white;
	cursor:pointer;
	text-align: center;
	font-weight:bold;
	padding:20px 15px;
	box-shadow:0px 0px 8px rgba(0,0,0,0.3);
	text-shadow:0px 0px 8px rgba(0,0,0,0.3);
}

#choices a.green{
	color:#02D427;
	border-color:#02D427;
}

#choices a.red{
	color:orangered;
	border-color:orangered;
}